.left_block{
	width: 210px;
	float: left;
	margin-left: -250px;
	padding: 5px 10px;
}
.content_area{
	margin-left: 230px;
	padding: 0 20px 30px 18px;
	border-left: 2px solid #efefef;
	position: relative;
}
hr.bottom_line{
	border: 1px solid #efefef;
}
/*slider*/
	.slider{
		padding-bottom: 13px;
	}
/*slider*/

/*news - разные стили на главнойи на вложенной!!!!!*/
.news_block{
	overflow: auto;
}
.news_item{
	width: 625px;
	margin-bottom: 11px;
}
	.news_item:first-child{
		margin-left: 0;
	}
	.news_item h3{
		font-size: 1.286em;
		line-height: 1.2em;
	}
.content_area .news_item img{
		float: left;
		width: 120px;
		height: auto;
		margin: 5px 0 0 0;
	}
.news_item_description{
	margin-left: 140px;
	margin-top: 0px;
	overflow: hidden;
}
.inverse .news_item_anons a:hover{
	color: #999;
}
.news_item_date{
	font-size: 12px;
	margin-top: 4px;
	font-family: "PTSans_Italic"
}
/*x_news*/

/*page_navigation*/
	.page_nav{
		text-align: center;
		font-family: "PTSans_Bold";
		font-size: 22px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
		.page_nav p{
			font-family: "PTSans_Regular";
			font-size: 14px;
			margin-bottom: 0.5em;
		}
		.page_nav a, .page_nav span{
			color: #000;
			vertical-align: middle;
			display: inline-block;
			zoom: 1;
			margin-left: 5px;
			padding: 1px 9px;
		}
		.page_nav .current{
			background:black;
			color:white;
		}
		.page_nav .other{
			margin: 0;
			padding: 0;
		}
		.page_nav .prev, .page_nav .next{
			background: url("/local/templates/.default/images/sprite.png") no-repeat;
			width: 9px;
			height: 15px;
			padding: 0;
		}
		.page_nav .prev{
			background-position: 0 -80px;
			margin-right: 8px;
		}
		.page_nav .next{
			background-position: -35px -80px;
			margin-left: 13px
		}
		.page_nav .prev:hover{
			background-position: 0 -105px;
		}
		.page_nav .next:hover{
			background-position: -35px -105px;
		}
/*x_page_navigation*/

.content_area .shops_block{
	padding-left: 0;
	width: 100%;
}
/*left_menu*/
	.left_menu, .left_menu li{
		margin: 0;
		padding: 0;
		background: 0 none;

	}
	.left_menu{
		margin-left: 9px;
	}
	.left_menu li {
			padding-left: 10px;
			margin-top:22px;
	}
	.left_menu > li, .left_menu > li > a {
		color: #000;
		font-family: "PTSans_Bold";
	}
	.left_menu ul{
		margin-left: -11px;
		margin-right: 11px;
		margin-top: 7px;
	}
	.left_menu ul span, .left_menu ul a{
		font-family: "PTSans_Regular";
		color: #666;
	}
	.left_menu > li > a:hover, .left_menu ul a:hover{
		color: #ff7519;
	}

	.left_menu > li > a.selected, .left_menu ul a.selected {
		color: #ff7519;
	}
	.left_menu ul li {
		padding: 0;
		margin-bottom: 1px;
		margin-top:0;
	}
	.left_menu ul a, .left_menu ul span {
		display: block;
		padding: 2px 10px;
		behavior: url(/local/templates/.default/PIE.php);
	}
	/*.left_menu ul a:hover, */.left_menu  ul span{
		color: #fff;
		background-color: #000;
		-moz-border-radius: 3px;
 		-webkit-border-radius: 3px;
 		-khtml-border-radius: 3px;
  		border-radius: 3px;
	}
/*x_left_menu*/
